& {

  [popovertarget] {
    pointer-events: auto !important;
    anchor-name: var(--popover-anchor);
    width: fit-content !important;
  }

  .chat-message *[style*="anchor-name"]:not([popovertarget]) + [style*="position-anchor"]:not([popover]),
  [popover] {
    inset-area: top;
    margin-bottom: 10px;
    width: fit-content !important;
    min-width: 200px !important;
    max-width: 500px !important;

    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none !important;

    font-family: var(--font-primary);
    font-size: $rem-14;
    line-height: $rem-18;
    // font-style: italic;
    text-align: center;
    color: var(--K4-strip-tooltip-color-fg);
    background: var(--K4-strip-tooltip-color-bg);
    text-wrap: balance;
    hyphens: none !important;
    outline: 1px solid var(--K4-strip-tooltip-color-fg);
    box-shadow:
      2px 2px 3px var(--K4-dBLACK),
      2px 2px 3px var(--K4-dBLACK),
      2px 2px 3px var(--K4-dBLACK);

    padding: 10px;
    border-radius: 10px;

    * {
      white-space: break-spaces;
      text-wrap: balance;
      hyphens: none !important;
    }

    > * {
      display: inline-block;
    }

    &.left-aligned {
      text-align: left;

      * {
        justify-content: flex-start !important;
      }
    }



    h2 {
      display: block;
      margin: 0 0 5px 0 !important;
      border-bottom: 1px solid var(--K4-color-header) !important;

      &, * {
        font-style: normal !important;
        font-family: var(--font-primary-smallcaps) !important;
        text-transform: lowercase !important;
        white-space: nowrap !important;
        text-align: center !important;
        font-size: clamp(10px, 20px, 20px) !important;
      }
    }


    .archetype-example-container {
      // line-height: $rem-10;
      display: inline-flex;
      flex-direction: row;
      flex-wrap: nowrap;
      width: 100%;
      gap: 5px;
      margin-bottom: 5px;

      &:last-of-type {
        margin-bottom: 0;
      }

      .archetype-example-label {
        font-weight: $font-weight-bold;
        color: var(--K4-bbGOLD);
        display: inline-flex;
        margin-top: 1px;
        // font-style: normal;
        // font-size: $rem-10;
        // line-height: $rem-12;
      }
      .archetype-example-list {
        // font-style: normal;
        // text-align: left;
        text-wrap: pretty;
        font-family: var(--font-primary-smallcaps);
        display: inline-flex;
        flex-wrap: wrap;
        // vertical-align: middle;
        justify-content: center;
        gap: 0px 8px;

        .archetype-example {
          font-size: 14px;
          line-height: 18px;
          color: var(--K4-GOLD);

        }

        .archetype-example-separator {
          color: var(--K4-dGREY);
          font-size: 10px;
          line-height: 20px;
          margin-bottom: -2px;

        }


        // font-size: $rem-10;
        // line-height: $rem-12;
      }
    }

    /* Final state of the exit animation */
    opacity: 0;
    scale: 1.25;

    transition: all 0.25s allow-discrete;
  }

  /* Transition for the popover itself */
  [popover]:popover-open {
    opacity: 1;
    scale: 1;
  }

  /* Needs to be after the previous [popover]:popover-open rule
  to take effect, as the specificity is the same */
  @starting-style {
    [popover]:popover-open {
      opacity: 0;
      scale: 1.25;
    }
  }

  /* Transition for the popover's backdrop */
  // [popover]::backdrop {
  //   background-color: change-alpha(var(--K4-dBLACK), 0);
  //   transition: all 0.75s allow-discrete;
  // }

  // [popover]:popover-open::backdrop {
  //   background-color: change-alpha(var(--K4-dBLACK), 0.25);
  //   // backdrop-filter: blur(2px);
  // }

  /* The nesting selector (&) cannot represent pseudo-elements
  so this starting-style rule cannot be nested */

  // @starting-style {
  //   [popover]:popover-open::backdrop {
  //     background-color: change-alpha(var(--K4-dBLACK), 0);
  //   }
  // }

  .chat-message *[style*="anchor-name"]:not([popovertarget]) + [style*="position-anchor"] {
    visibility: hidden;
    opacity: 0;
  }
  /** Because chat messages are parsed before being rendered, must add popover attributes via script -- and keep it invisible until done **/

}