
$isDebugging: false;
$isDebuggingChat: false;

@if $isDebugging {
  #position-display {
    height: 200px;
    width: 200px;
    position: absolute;
    color: lime;
    left: 100px;
    top: 100px;
    background: rgba(0, 100, 0, 0.2);
    padding: 10px;
    border:  3px solid lime;
    border-radius: 20px;
  }
}

@if $isDebuggingChat {
  .vtt.game.system-kult4th {
    #ui-left, #ui-middle { display: none }
    #ui-right { margin-left: 100px; }
  }

}
