		<div class="actor-name-container">
			<span class="actor-name-spacer"></span>
			<span class="actor-name-border actor-name-border-left"></span>
			<div class="actor-name-input-container">
				<div class="actor-name-bg-anim actor-name-bg-anim-left"></div>
				<div class="actor-name-bg-anim actor-name-bg-anim-right"></div>
				<div class="actor-name content-editable clamp-text" data-field="name" data-placeholder="{{localize "kult4th.sheet.prompts.whoAreYou"}}" data-clamplines="1">{{actor.name}}</div>
			</div>
			<span class="actor-name-border actor-name-border-right"></span>
			<span class="actor-name-spacer"></span>
		</div>