<div class="sheet-lock-container">
	<input type="checkbox" name="{{name}}" {{checked checked}} />
	<span class="lock-box-checked">
    <i class="fa-sharp-duotone fa-solid fa-lock"></i>
  </span>
	<span class="lock-box-unchecked">
    <i class="fa-duotone fa-solid fa-lock-open"></i>
  </span>
</div>