<div class="toggle-box-container {{class}}">
	<input class="toggle-box" type="checkbox" name="{{name}}" {{checked checked}} />
	<span class="toggle-box-mode toggle-box-checked">🟩</span>
	<span class="toggle-box-mode toggle-box-unchecked">❌</span>
</div>