<section id="chat-input-controls">
  <button id="ic" title="In Character">
    <i class="fa-solid fa-masks-theater"></i>
    <span class="button-label">In-Character</span>
  </button>
  <button id="ooc" title="Out-of-Character">
    <i class="fa-regular fa-comment fa-flip-horizontal"></i>
    <span class="button-label">Out-of-Character</span>
  </button>
  <button id="gm" title="To GM">
    <i class="fa-sharp fa-solid fa-person-praying fa-flip-horizontal"></i>
    <span class="button-label">Pray to GM</span>
  </button>
</section>