{{log "ask-for-text.hbs" this}}
<h1 class="dialog-title">{{title}}</h1>
{{#if bodyText}}<p>{{{formatForKult bodyText}}}</p>{{/if}}
<input type="text" name="input" />
{{#if subText}}<p class="sub-text">{{{formatForKult subText}}}</p>{{/if}}