
{{log (concat "{ITEM-SHEET: " item.name "} this") this}}

<form class="kult4th-form {{cssClass}} item-sheet-{{item.type}}" autocomplete="off">
  <div class="message-bg bg-success"></div>
	{{> "systems/kult4th/templates/partials/item-block.hbs"}}
</form>